---
layout: default 
---
<header class="bloghead">
    <h1 class="bloghead-title">
    <a href="{{ site.url }}/">{{ site.name }}</a>
  </h1>
    <nav class="bloghead-nav">
        {% for nav in site.nav %}
        <a href="{{ nav.href }}">{{ nav.name }}<span> &nbsp;/&nbsp; </span></a> {% endfor %}
    </nav>
</header>
<div class="content">
    <p>I am a research fellow at the 
    <a href="http://www.sheffield.ac.uk/">University of Sheffield</a>
    and a member of the 
    <a href="http://nlp.shef.ac.uk/">Natural Language Processing Group</a> of the 
    <a href="http://www.sheffield.ac.uk/dcs">Computer Science Department</a>.
    I am working on large-scale multilingual entity recognition and disambiguation and
    I am part of the team that develops the <a href="http://gate.ac.uk">GATE NLP framework</a>
    and have also developed and contributed to a number of GATE plugins
    and other GATE related software. I am generally interested in machine learning, 
    natural language processing and knowledge representation / ontologies.
    </p>

    <p>
    Prior to joining the University of Sheffield, I was a 
    <a href="http://www.ofai.at/~johann.petrak">researcher</a> at the 
    <a href="http://www.ofai.at">Austrian Research Institute for Artificial Intelligence (OFAI)</a>.
    </p>

    For a list of publication see 
    <a href="https://scholar.google.co.uk/citations?user=bfbF2fIAAAAJ">Google Scholar</a>
    or my <a href="http://www.dcs.shef.ac.uk/cgi-bin/makeperson?J.Petrak">Sheffield University Page</a>.
    <h3>Software</h3>

    <p>I am an enthusiastic developer and supporter of open source software and have 
    contributed to the 
    <a href="https://sourceforge.net/projects/gate/">development of the GATE NLP framework</a> and
    <a href="https://www.openhub.net/accounts/johannp/positions">a number of other projects</a>.</p>
 
    Some projects I have created or where I have contributed most of the code:
    <ul>
     <li><a href="https://github.com/GateNLP/gatelib-interaction">gatelib-interaction</a> A library
   that simplifies the interaction between GATE processing resources and external software. The interaction can be done either by starting a separate process and communicating through pipes with the process or by communicating with a separate server. So far this is mainly used for enabling the 
GATE machine learning plugin, gateplugin-LearningFramework to use 
<a href="http://www.cs.waikato.ac.nz/ml/weka/">Weka</a>, 
<a href="http://scikit-learn.org/stable/">Scikit-Learn</a>, 
<a href="https://keras.io/">Keras</a>
and other external tools.</li>
     <li><a href="https://github.com/johann-petrak/gateplugin-AnnotationGraphs">gateplugin-AnnotationGraphs</a> A GATE plugin that makes it easier to handle graphs of annotations i.e. annotations
  representing trees, coreference chains, candidate lists or anything where one annotation 
  needs to refer to one or more other annotations in some way. </li> 
     <li><a href="https://github.com/johann-petrak/gateplugin-Evaluation">gateplugin-Evaluation</a>
  A GATE plugin which provides the ability to carry out evaluations from within a pipeline.</li>
     <li><a href="https://github.com/johann-petrak/gateplugin-Java">gateplugin-Java</a>
  A GATE plugin which makes it easy to write Java code that gets executed in a pipeline.
  The Java code gets compiled on the fly and there is no need to restart GATE or reload the pipeline when the Java program is modified. 
  </li>
     <li><a href="https://github.com/johann-petrak/gateplugin-JdbcLookup">gateplugin-JdbcLookup</a>
  A GATE plugin which makes it easy to add or update annotations based on looking up 
  information in a JDBC table.</li>
     <li><a href="https://github.com/GateNLP/gateplugin-LearningFramework">gateplugin-LearningFramework</a> A GATE plugin for using various machine learning algorithms from withing GATE. 
  It supports classification, regression and tagging tasks and allows the use of 
  algorithms from LibSVM, Mallet, Weka (as external program), Scikit-Learn (external, Python),
  CostCLA (external, Python), and Keras (external, Python)</li>
     <li><a href="https://github.com/johann-petrak/gateplugin-ModularPipelines">gateplugin-ModularPipelines</a>
  A GATE plugin that brings two important properties to GATE pipelines: modularity and 
  parametrizability. The plugin provides a new processing resource which makes it easy to 
  include pipelines within pipelines while keeping each of the contained pipeline files 
  separate. It also provides a new kind of controller which allows to override or set 
  any runtime parameter or init parameter for any of the processing resources in the pipeline,
  or to set document features or enable or disable a PR within the pipline.</li>
     <li><a href="https://github.com/johann-petrak/gateplugin-Scala">gateplugin-Scala</a></b>
  A GATE plugin which allows to write Scala code that gets executed in a pipeline from 
  within GATE.</li>
     <li><a href="https://github.com/johann-petrak/gateplugin-StringAnnotation">gateplugin-StringAnnotation</a>
  A GATE plugin which provides processing resources for very flexible matching of text using
  nestable Java regular expressions, and for very fast and compact use of gazetteer lists 
  for matching either document text or text extracted from annotation features (similar
  to what the FlexibleGazetteer does).</li>
     <li><a href="https://github.com/GateNLP/gateplugin-Tagger_CoreNLP">gateplugin-Tagger_CoreNLP</a> A GATE plugin which can connect to the Stanford CoreNLP server to annotate documents.</li>
     <li><a href="https://github.com/GateNLP/gateplugin-Tagger_GoogleNLP">gateplugin-Tagger_GoogleNLP</a> A GATE plugin which can connect to the Google NLP Service to annotate documents.</li>
     <li><a href="https://github.com/GateNLP/gateplugin-Tagger_SyntaxNet">gateplugin-TaggerSyntaxNet</a> A GATE plugin which can connect to a local instance of SyntaxNet running under Tensorflow Serving to annotate documents.</li>
     <li><a href="https://github.com/GateNLP/gateplugin-Tagger_TagMe">gateplugin-Tagger_TagMe</a>
  A GATE plugin which can connect to the TagMe web API to annotate documents.</li>
     <li><a href="https://github.com/johann-petrak/gateplugin-VirtualCorpus">gateplugin-VirtualCorpus</a> A GATE plugin which provides new kinds of corpora which directly reflect the 
  files within a directory on disk.</li>
     <li><a href="https://github.com/GateNLP/keras-wrapper">keras-wrapper</a> A lightweight 
  Python wrapper for making Keras usable from the gateplugin-LearningFramework.</li>
     <li><a href="https://github.com/johann-petrak/simple-issues-tracker">simple-issues-tracker</a>
  A very simple script for tracking issues. This is meant to be used from within a git 
  repository and will simply manage issues by creating a new file for each issue in a subdirectory
  of the repository. </li>
     <li><a href="https://github.com/GateNLP/sklearn-wrapper">sklearn-wrapper</a>
  A lightweight Python wrapper for making Scikit-Learn usable from the 
  gateplugin-LearningFramework.</li>
     <li><a href="https://github.com/GateNLP/weka-wrapper">weka-wrapper</a>
  A lightweight wrapper for making Weka usable from the gateplugin-LearningFramwork.</li>
     <li><a href="https://github.com/johann-petrak/miscfastcompact">miscfastcompact</a>
  [under construction] A library for various fast and compact datastructures used in 
  plugins and other software.</li> 
    <ul>
     
    {% if site.posts.size == 0 %}
    {% else %}
    <p></p>
    <h2>Blog Posts</h2> 
    {% for post in paginator.posts %}
    <div class="post-list">
        <h3 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h3> {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
        <div class="post-date">
            <time>{{ post.date | date_to_string }}</time>
        </div>
    </div>
    {% endfor %} {% if paginator.total_pages > 1 %}
    <div class="pages">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><</a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">></a>
      {% endif %}
    </div>
    {% endif %}
  {% endif %}
</div>
