<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="preload">
    <div class="top"></div>
    <div class="profile" style="background-image: url({{ site.background }});">
        <img class="img" src="http://www.gravatar.com/avatar/{{ site.gravatar_hash }}?s=140" class="img-circle" />
        <p><b><a href="/">{{ site.name }}</a></b></p>
        <p><b><a href="http://www.sheffield.ac.uk/dcs">Computer Science Dep.</a></b></p>
        <p><b><a href="http://nlp.shef.ac.uk/">NLP Group</a></b></p>
        <p><b><a href="http://www.sheffield.ac.uk">University of Sheffield</a></b></p>
        <p>&nbsp;</p>
        <p>Room G30 / Regent Court</p>
        <p>211 Portobello</p>
        <p>Sheffield, S1 4DP. UK.</p> 
        <p><b>johann.petrak@gmail.com</b></p>
	<p><a type="button" href="http://keybase.io/johann_petrak"><img src="img/icon-keybase-logo-48.png" height="12" width="12" /></a></p>	
        <ul class="social">
            {% if site.github %}
            <a type="button" href="http://github.com/{{ site.github }}">
                <i class="fa fa-github"></i>
            </a>
            {% endif %} {% if site.twitter %}
            <a type="button" href="http://twitter.com/{{ site.github }}">
                <i class="fa fa-twitter"></i>
            </a>
            {% endif %} {% if site.linkedin %}
            <a type="button" href="http://linkedin.com/in/{{ site.linkedin }}">
                <i class="fa fa-linkedin"></i>
            </a>
            {% endif %} {% if site.keybase %}
            <a type="button" href="http://keybase.io/{{ site.keybase }}">
		    <!--<i class="fa fa-keybase"></i>--> <img src="img/icon-keybase-logo-48.png" height="22" width="22" />
            </a>
            {% endif %} {% if site.facebook %}
            <a type="button" href="http://facebook.com/{{ site.facebook }}">
                <i class="fa fa-facebook"></i>
            </a>
            {% endif %}
        </ul>
    </div>
    <div class="posts">
        {{ content }}
    </div>
</body>
<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }
</script>
</html>
